body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#app {
    text-align: center;
}

#qr-scanner {
    width: 20px 0;
}

#qr-scanner video {
    width: 300px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    display: block;
    margin: 0 auto; /* Center the video */
}
    

#response-message {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}
